.regform{
    margin-left: 60px;
}
.smallpath a:nth-child(1){
    text-decoration: none;
    color: rgb(51, 166, 243);
}
.titlereg{
    font-size: 20px;
}
.regform label{
    margin-left: 100px;
    width: 10%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.regform input{
    width: 70%;
    height: 30px;
    border:1px solid #ccc; 
    padding:6px;
    border-radius: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.subs{
    margin-left: 140px;
}
.termsreg{
    margin-left: 690px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.termsreg a{
    text-decoration: none;
    
}
.termsreg button{
    margin-left: 2%;
    background-color: rgb(104, 102, 102);
    color: whitesmoke;
    width: 23%;
    height: 35px;
    border-radius: 15px;
    border: none;
    padding-bottom: 2px;
}
.termsreg button:hover{
    background-color: rgb(51, 166, 243);
}
.subs input{
    margin-left: 20px; 
    padding-top: 10px;
    text-align: center;
    width: 20px;
    height: 12px;
}
.fa-beat{
  font-size: 40px;
  padding: 5px;
  padding-left: 25px;
  color: #f3eaea;
}
.icon1{
    background-color:rgb(10, 113, 182);
    border-radius: 50%;
    height:50px;
    width: 10%;
}
.icons{
    display: flex;
}
.icons p{
    padding-top: 11px;
    font-size: 20px;
    padding-left: 25px;
}